

.footer{
  padding: 0;
  width: 100vw;
  height: 14vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
}

.footer ul{
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.footer ul li{
  list-style: none;
}
.footer ul li svg{
  font-size: 1.7em;
  margin: 0 .4em;
  color: #fff;
}

.footer ul li svg:hover{
  color: #000;
  cursor: pointer;
}